<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <style>
            body { font-family: 'Times New Roman', Times, serif;}
            header, footer { background-color: antiquewhite; color: darkgreen; text-align: center; padding: 10px;}
            .container { text-align: center; margin: 50px;}
        </style>
    </head>
    <body>
        <header>
            <h1> Log In </h1>
        </header>
        <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </body>
</html>