.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: transform 0.2s;
    background-color: white;
    height: 100%
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 100px;
    padding: 20px;
}