@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* Colors */
  --color-green: #A5B68D;
  --color-orange: #DA8359;
  --color-off-white: #F9FAFB;
  --color-white: #FFFFFF;
  --color-border: #E5E7EB;
  --color-gray: #777;
  
  /* Dimensions */
  --content-width: 36rem;
  --card-width: 300px;
  --form-width: 350px;
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 20px;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;
  
  /* Shadows */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  
  /* Font */
  --font-family-primary: "Gentium Book Plus", Georgia, sans-serif;
  --font-size-base: 1rem; /*button font size*/
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  
  /* Misc */
  --standard-border: 1px solid var(--color-border);
  --btn-height: 3rem;
}

body {
  display: flex;
  font-family: var(--font-family-primary);
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--color-off-white);
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: 100;
  margin: var(--spacing-md) auto;
}

/* LAYOUT */
.app-container {
  width: 100%;
  min-height: 100vh;
  padding-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* COMMON */
button {
  font-weight: 500;
  border-radius: var(--border-radius-md);
  border: none;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: var(--font-size-base);
  width: 100%;
  height: var(--btn-height);;
}

button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  cursor: pointer;
}

.input-box {
  margin-bottom: var(--spacing-sm);
}

.input-box input {
  width: 100%;
  height: 2.75rem;
  border-radius: var(--border-radius-md);
  border: var(--standard-border);
  padding-left: var(--spacing-sm);
  box-sizing: border-box;
}

.input-box label {
  display: block;
  color: gray;
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-sm);
}

.input-box input[type="file"] {
  border:var(--standard-border);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-lg);
}

.input-box textarea {
  width: 100%;
  height: 8rem;
  border-radius: var(--border-radius-md);
  border: var(--standard-border);
  padding: var(--spacing-sm) 0 0 var(--spacing-sm);
  box-sizing: border-box;
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  align-items: center;
  height: 4rem;
  position: fixed;
  width: 100%;
  box-shadow: var(--shadow-sm);
  border-bottom:var(--standard-border);
  text-decoration: none;
  left: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: var(--font-size-xl);
  font-weight: 700;
  margin: 0 0 0 var(--spacing-md);
}

.navbar-brand a {
  color: black;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  gap: 5rem;
}

.navbar-item {
  color: var(--color-gray);
  font-size: var(--font-size-lg);
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

.navbar-end {
  margin: 0 var(--spacing-md);
}

/** NAVIGATION BAR ITEM HOVER EFFECT **/
.navbar-item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-green);
  transition: transform 0.25s ease-out;
}

.navbar-item:hover::after {
  transform: scaleX(1);
}

.navbar-item.left::after {
  transform-origin: bottom right;
}

.navbar-item.left:hover::after {
  transform-origin: bottom left;
}

.navbar-item.center::after {
  transform-origin: bottom center;
}

.navbar-item.right::after {
  transform-origin: bottom left;
}

.navbar-item.right:hover::after {
  transform-origin: bottom right;
}

/* BUTTONS */
.logout-button {
  padding: 0 0.8rem;
  background-color: transparent;
  color: var(--color-orange);
  font-size: var(--font-size-lg);
}

.logout-button:hover {
  border: 1px solid var(--color-orange);
  box-shadow: none;
}

.new-book-btn {
  width: 20%;
}

.delete-btn {
  width: 60%;
  height: 2rem;
  margin-top: var(--spacing-sm);
  background-color: var(--color-orange);
}

.annotation-detail .delete-btn {
  width: auto;
  height: 2rem;
  margin: 0;
}

.new-annotation-btn {
  display: flex;
  width: var(--content-width);
  gap: 5rem;
}

/* SEARCH BAR */
.search-bar {
  width: var(--content-width);
  margin: var(--spacing-md) auto;
}

.search-bar input {
  width: 100%;
  height: var(--btn-height);;
  border: var(--standard-border);
  padding-left: var(--spacing-sm);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-sm);
  box-sizing: border-box;
}

/* BOOK GRID */
.books-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, var(--card-width));
  gap: var(--spacing-lg);
}

.books-container .empty-books-message {
  text-align: center;
  background: var(--color-white);
  width: var(--content-width);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  border: var(--standard-border);
  padding: 30px;
  color: var(--color-gray);
  grid-column: 1 / -1; 
  justify-self: center; 
  box-sizing: border-box;
}

.card {
  background: var(--color-white);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-md);
  height: 280px;
  border:var(--standard-border);
}

.card:hover {
  transform: translateY(-4px);
}

.card-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-sm);
  height: 105px;
}

.card h3 {
  font-size: var(--font-size-xl);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
}

.card p {
  text-align: center;
  padding: 0 var(--spacing-md);
  margin: 0 0 0.8rem 0;
}

/* ANNOTATION LIST */

.list {
  box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  border: var(--standard-border);
  width: var(--content-width);
  margin: 0 auto;
}

.list:empty::after {
  content: 'You have no annotations for this book.';
  display: block;
  padding: 30px;
  text-align: center;
  color: #777;
}

/* ANNOTATION BOX */
.annotation {
  padding: var(--spacing-sm);
  border-bottom: var(--standard-border);
  box-sizing: border-box;
}

.annotation h3 {
  margin-top: 0.4rem;
  font-weight: 700;
  font-size: var(--font-size-lg);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.annotation:last-child {
  border-bottom: none;
}

.annotation-detail {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* ========== FORMS ========== */
.form-base {
  width: var(--form-width);
  height: auto;
  max-width: 28rem;
  padding: var(--spacing-md);
  box-shadow: var(--shadow-md);
  border: var(--standard-border);
  border-radius: var(--border-radius-lg);
  text-align: center;
  margin-top: var(--spacing-xl); 
}

.form-base .message {
  margin-bottom: var(--spacing-md);
}

.success-message {
  display: flex;
  justify-content: center;
}

/* ANNOTATION FORM: HIGHLIGHTER RADIOS */
.highlighter-label {
  display: block;
  color: var(--color-gray);
  font-size: var(--font-size-base);
}

.form-base .highlighter-box {
  display: flex;
  justify-content: space-around;
  margin: var(--spacing-sm) 0 var(--spacing-md);
}

.yellow-label {
  background-color: rgba(255, 255, 0, 0.2);
  padding: 0.2rem 0.4rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid rgba(250, 204, 21, 0.4);
}

.pink-label {
  background-color: rgba(255, 0, 244, 0.2);
  padding: 0.2rem 0.4rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid rgba(255, 0, 244, 0.2);
}

.blue-label {
  background-color: rgba(0, 0, 255, 0.2);
  padding: 0.2rem 0.4rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid rgba(0, 0, 255, 0.2);
}

.radio-button {
  margin-left: var(--spacing-sm);
  cursor: pointer;
}